<!DOCTYPE html>
<html lang="en">
<head profile="http://gmpg.org/xfn/11">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>
    
    <link rel="stylesheet" type="text/css" media="all" href="css/app.min.css">
    <link rel="stylesheet" type="text/css" media="all" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="all" href="css/bootstrap-theme.min.css">
    <script type="text/javascript" src="3rdParty/jquery-1.11.3.min.js"></script>
    <script src="3rdParty/bootstrap.min.js"></script>
    <script src="3rdParty/angular.min.js"></script>
    <script type="text/javascript" src="app/app.min.js"></script>
</head>

<body ng-app="myapp" ng-controller="mainCtrl">
    <header>
        <nav>
            <div>
                <a href="#mobile-menu" class="mobile">Menu</a>
                <a href="/#top" class="logo">MY APP</a>

                <ul id="menu-main-menu">
                    <li><a href="#help-modal">Help</a></li>
                    <li><a href="http://www.google.com">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <section>
        <div class="list" ng-show="menuItem == 'List'">
            <div>
                <h3>List {{list.length}}</h3>
                <label>
                    Query:
                    <input type="text" ng-model="queryString" value="" placeholder="Filter by">
                </label>
                <br>

                <table class="ListTable" border="1">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th class="sortable" ng-click="sort(studies, 'Name')">Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in list | filter:queryString">
                            <td>{{$index}}</td>
                            <td>{{row.Name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="demo" ng-show="menuItem == 'Demo'">            
        </div>
    </section>

    <div id="help-modal" class="hidden">
        <a class="close" href="#close">X</a>
        <div>
            <h3>Help</h3>
        </div>
    </div>
</body>
</html>